* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}


div {
  padding: 20px;
  border-collapse: inherit;
}


.todo-clause {
  position: relative;


  label.square {
    margin: 20px 20px 0 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 2px;
    left: 2px;
    z-index: 1;
    border: 2px solid gray;

  }


  [type=checkbox] {
    display: none;

  }

  .check-block {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    background-color: chocolate;
  }


  input[type=checkbox]:checked ~ label.square {
    border: 2px solid yellow;

  }


}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}