* {
  box-sizing: border-box;
}

.wrapper {
  background-color: chocolate;
  border: solid 1px red;
  width: 252px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;

}

.cell {
  padding: 40px;
  width: 20px;
  height: 20px;
  border: solid 1px red;
 text-align: center;
}